<div id="users_index_view">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>
            <%= t("label.users") %>
          </th>
          <th>
            <%= t("label.number_of_learnt_words") %>
          </th>
          <th>
            <%= t("label.join") %>
          </th>
          <% if user_signed_in? %>
            <th>
              <%= t("label.following") %>
            </th>
          <% end %>
        </tr>
      </thead>

      <% @users.each do |user| %>
        <tr>
          <td>
            <%= image_tag user.avatar.url(:small), class: "circle" %>
            <%= link_to user.get_name, user %>
          </td>
          <td>
            <%= user.get_number_of_words_learnt %>
          </td>
          <td>
            <%= get_date user.created_at %>
          </td>
          <% if user_signed_in? %>
            <td>
              <% following_id = current_user.get_following_id user.id %>
              <% if current_user.id != user.id %>
                <% if following_id.present? %>
                  <%= link_to t("label.unfollow"), user_following_path(user.id, following_id), method: :delete %>
                <% else %>
                  <%= link_to t("label.follow"), user_followings_path(user.id), method: :post %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <%= paginate @users %>
  </div>
</div>