<%
  words       = @data[:words]
  categories  = @data[:categories]
  filters     = @data[:filters]

  count = (words.count + 1) / 2
  word_list_first_half = words[0..(count-1)]
  word_list_second_half = words[count..-1]

  selected_category = categories.index {|category| category.id == @data[:selected_category_id]} + 1
%>

<div id="words_index_view">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="searchBox">
          <%= form_tag words_path, method: :get, class: "text-center" do %>
            <div class="form-group">
              <%= label_tag t("label.category") %>
              <%= select_tag("category", options_from_collection_for_select(categories, "id", "name", selected_category)) %>
            </div>

            <div class="radio">
              <% filters.each do |filter| %>
                <% selected = @data[:selected_filter_id] == filter[:id] %>
                <%= label_tag t("label.filter"), "#{radio_button_tag("filter", filter[:id], selected)} #{t("label.#{filter[:key]}")}".html_safe %>
              <% end %>
            </div>

            <div class="form-group">
              <%= submit_tag t("label.filter"), class: "btn btn-primary" %>
              <%= link_to t("label.pdf"), words_path(format: :pdf, category: @data[:selected_category_id], filter: @data[:selected_filter_id]), class: "btn btn-default" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="leftColumn" class="col-xs-6">
        <%= render "word_column", words: word_list_first_half %>
      </div>
      <div id="rightColumn" class="col-xs-6">
        <%= render "word_column", words: word_list_second_half %>
      </div>
    </div>
  </div>
</div>
